<template>
    <div id="app">
        <b-navbar class="is-dark">
            <template slot="brand">
                <b-navbar-item id="name" tag="router-link" :to="{ path: '/' }">Mark Topacio</b-navbar-item>
            </template>
            <template slot="start">
                <b-navbar-item tag="router-link" :to="{ path: '/visuals' }">Visualizations</b-navbar-item>
            </template>
            <template slot="end">
                <a href="mailto:markctopacio@gmail.com"><span class="material-icons">email</span></a>
            </template>
        </b-navbar>

        

        <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/about">About</router-link>
        </div>
        <router-view/>
    </div>
</template>



<style>
.material-icons {
    padding: 10px;
}

#name {
    font-weight: bold;
    font-size: 20px;
}

#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

</style>
