<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <input v-model.number="a">
    <input v-model.number="b">
    <h2>The sum is {{ c }} </h2>
  </div>
</template>

<script>
export default {
  name: 'PackChart',
  data() {
    return {
        a: 0,
        b: 0,
        reduced: 0
    };
  },
  computed: {
    c() {
        return this.a + this.b;  
    }
  },
  watch: {
    c(val) {
        this.reduced = val;
        this.subtract()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
