<template>
    <div class="home">
        <img alt="Vue logo" src="../assets/logo.png">
        <Landing msg="Welcome to Your Vue.js App"/>

        <b-steps :position="position" :label-position="labelPosition" :size="size" vertical>
            <b-step-item label="About" :clickable=true></b-step-item>
            <b-step-item label="Resume" :clickable=true></b-step-item>
            <b-step-item label="Portfolio" :clickable=true></b-step-item>
        </b-steps>
    </div>
</template>

<script>
// @ is an alias to /src
import Landing from '@/components/Landing.vue'

export default {
  name: 'Home',
  components: {
    Landing
  },
  data() {
    return {
        labelPosition: 'bottom',
        position: 'is-left',
        size: 'is-small',
    }
  }
}
</script>
