<template>
  <div class="visuals">
    <h1>This page is for all the visuals</h1>
    <Visualization msg="This messaged was passed in"/>
  </div>
</template>

<script>
    import Visualization from '@/components/Visualization.vue'

    export default {
        name: 'Home',
        components: {
            Visualization
        }
    }
</script>
